{% extends 'tasks/base.html'%}

{% block content %}
<h1>Browse - {{organization.name}}</h1>

<table style="width: 100%; border-collapse:collapse;" border = "1">
    <tr>
        <th>CLANMember</th>
        <th>ROLE</th>
    </tr>
    {% for member in memberships %}
    <tr>
        <td>
            {{ member.user }}
        </td>
        <td>
            {{ member.role }}
        </td>
        <td>
            <form method="post" action="{% url 'promote_members' organization.pk member.pk %}">
                {% csrf_token %}
                <button type="submit">Promote</button>
            </form>
        </td>
    </tr>
    {% empty %}
        <td>No MEMEBER</td>
    {% endfor %}
</table>
<h2>JoinRequests</h2>
{%if requests%}
    <ul>
    {% for request in requests %}
    <li>
        {{ request.user }}

        <form method="post" action="{% url 'accept-request' request.pk %}">
            {% csrf_token %}
            <button type="submit" name="action" value="accept">
                Accept
            </button>

            <button type="submit" name="action" value="reject">
                Reject
            </button>
        </form>
    </li>
{% endfor %}
    </ul>
{% else %}
    <p>No join requests.</p>
{% endif %}

<form method = "POST">
    {% csrf_token %}
    <button>+join+</button>
</form>
<a href = "{%url 'org_edit' organization.pk%}">
    <button>+|--{ Edit }--|+</button>
</a>
<a href="{% url 'logout' %}">Logout</a>

<br>

{% if tasks %}
    <h2>Tasks</h2>

    <ul>
    {% for task in tasks %}
        <li>
            <strong>{{ task.title }}</strong> -
            Created by: {{ task.created_by }}
            <br>

            {{ task.description }}
            <br>

            {% for relationship in task.organisationtaskrelationships_set.all %}
                {% if relationship.source == relationship.types.Assigned %}
                    <p>Assigned to: {{ relationship.user.username }}</p>
                {% else %}
                    <p>Claimed by: {{ relationship.user.username }}</p>
                {% endif %}
            {% endfor %}

            {% if is_member %}
                {% if task.pk not in assigned_tasks %}
                    {% if task.pk not in claimed_tasks %}
                        <form method="POST" action="{% url 'claim_task' task.pk %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="accept">
                                Claim
                            </button>
                        </form>
                    {% else %}
                        <p><strong>You have already claimed this task.</strong></p>
                    {% endif %}
                {% endif %}
            {% endif %}

            <hr>
        </li>
    {% endfor %}
    </ul>

{% else %}
    <p>No tasks available.</p>
{% endif %}
<a href="{% url 'create_org_task' organization.pk %}">
    <button>+|--{ Create Task }--|+</button>
</a>
<a href="{% url 'assign_task' organization.pk %}">
    <button>+|--{ Assign Task }--|+</button>
</a>
{% endblock %}