{% extends 'tasks/base.html'%}

{% block content %}
<h1>Your Tasks</h1>

<table style="width: 100%; border-collapse:collapse;" border = "1">
    <tr>
        <th>TaskNumber</th>
        <th>TaskTitle</th>
        <th>TaskDescription</th>
        <th>Status</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>
            {{forloop.counter}}
        </td>
        <td>
            {{ task.title }}
        </td>
        <td>
            {{ task.description }}
        </td>
        <td>
            {% if task.completed %}
                <p>Completed</p>
            {% else %}
                <p>Pending</p>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'task-edit' task.pk%} " >Update</a>
        </td>
    </tr>
    {% empty %}
        <td>No Tasks Available</td>
    {% endfor %}
</table>

<p>Total Tasks: {{ tasks|length }}</p>

<a href="{% url 'task-create' %}">
    <button>ADD TASK</button>
</a>

<a href="{% url 'logout' %}">Logout</a>
{% endblock %}